{% extends '_base.html' %}

{% block body %}
<div class="container">
{% if form.errors %}
  <div class="alert alert-warning" role="alert">
    <p>Your username and password didn't match. Please try again.</p>
  </div>
{% endif %}
{% if next %}
    <div class="alert alert-warning" role="alert">
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
    </div>
{% endif %}

  <form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <div class="form-group row">
    <label for="username" class="col-sm-2 col-form-label">Username:</label>
    <div class="col-sm-10">
      <input id="username" class="form-control" maxlength="254" name="username" type="text" autofocus required/>
    </div>
  </div>
  <div class="form-group row">
    <label for="password" class="col-sm-2 col-form-label">Password:</label>
    <div class="col-sm-10">
      <input id="password" class="form-control" name="password" type="password" required />
    </div>
  </div>
    <input type="hidden" name="next" value="{{ next }}" />
  <div class="form-group row">
    <div class="col-sm-10">
      <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
    </div>
  </div>
  </form>
  <div class="row">
    <div class="col-6">
      <a href="{% url 'password_reset' %}">Lost password?</a>
    </div>
    <div class="col-6 text-right">
      <p>Don't have an account?</p>
      <a href="">Sign up here</a>
    </div>
  </div>
</div>
{% endblock body %}