[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dj-database-url = "*"
djangorestframework = "*"
django-webpack-loader = "*"
"psycopg2" = "*"
gunicorn = "*"
whitenoise = "*"
Django = "*"

[dev-packages]
ipython = "*"
django-extensions = "*"

[requires]
python_version = "3.6.6"
